@charset "UTF-8";

:root {
  --rosa: #EF1DF2;
  --verdeescuro: #1F621A;
  --verdeclaro: #24F21D;
  --cinza: #586169;
  --roxo: #790C79;
  --preto: #000000;
  --branco: #ffffff;
}

p{
  color: #ffffff;
  background-color: #000000;
}

h1{
  color: #ffffff ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
  color:  #ffffff;
}

h3{
  color:  #ffffff;
}

body{
  background-color: #000000;
}

li{
  font-size: small;
}

ul{
  color: #24F21D ;
}

a{
  color:#1F621A
}